/* header CSS */
.header{
    display: flex;
    margin-top: 5px;
    width: 100%;
    height: 70px;
    /* border:  2px black solid; */
    justify-content: space-between;
}
.header-left{
    display: flex;
}
.header-right{ 
    display: flex;
    height: 40px;
}
.header-icon{
    display: flex;
    cursor: pointer;
    height: 40px;
}

.header-icon-home{
    margin-left: 15px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 16px;
}
.header-dropdown-browse-courses{
    margin-left: 5px;
    position: relative;
    display: inline-block;
}
.header-dropdown-about-us{
    position: relative;
    display: inline-block;
}
.dropbtn{
    border: none;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    cursor: pointer;
}
.dropdown-content{
    display : none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 180px;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color:white;  
    
}
.dropdown-content a:hover{
    background-color: #ddd;
}
.header-dropdown-browse-courses:hover .dropdown-content{
    display: block;
}
.header-dropdown-about-us:hover .dropdown-content{
    display: block;
}
.header-search-btn{
    margin-left: 4px;
}
/* Slide Body Css */
.slide-body{
    width: 100%;
    height: 590px;
    background-color: #17a2b8;
    background-image: url("images/ionic-207965.png");
    background-repeat: no-repeat;
    background-position: 85%;
    position: relative;
}
.slide-body-content{
    width: 650px;
    position: absolute;
    top: 25%;
    left: 15%;
}
.slide-body-span{
    color: aquamarine;
    margin-top: 10px;
}
.button-slide-body{
    margin-top: 20px;
}
.btn-browse{
    margin-right: 20px;
}

/* Courses content Css */
.courses-recommended{
    margin-top: 40px;
}
.courses-popular{
    margin-top: 40px;
}
.course-trending{
    margin-top: 40px;
}
.card-footer{
    display: flex;
}
.card-footer-left{
    display: flex;
}
.img-footer{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.card-text-footer{
    margin-left: 8px;
    margin-top: 5px;
    margin-right: 65px;
    font-size: 13px;
    min-width: 100px;
}
/* Footer Css */
.footer{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
} 